{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block main %}
<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create post</h1>
    		
    		<form method="POST">
    		    
    		    
    		    <div class="form-group">
    		        <label for="title">Title <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="title" value="{{ request.form['title'] }}" required />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="body">Body</label>
    		        <textarea rows="5" class="form-control" name="body" id="body">{{ request.form['body'] }}</textarea>
    		    </div>
    		    
    		    <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div>
    		    
    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">
    		            Save
    		        </button>

                    <button type="reset" class="btn btn-default" >
                        Reset
                    </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>

<!-- 
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form> -->
{% endblock %}