{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}
    
<h1 class="text-center">{% block title %}Users for hire{% endblock %}</h1>

    {% for user in users %}
        <div class="card mt-3" style="width: auto;">
            <div class="card-body">
            <h3 class="card-title">{{ user['username'] }}</h3>
            <h6 class="card-subtitle mb-2 text-muted"><small> registered at {{ user['registered'].strftime('%d/%m/%Y, %H:%M:%S') }} UTC</small></h6>
            <p class="card-text">Employee expertise: {{ user['expertise'] }}</p>

            {% if user['hired_by'] > 0 %}
            <a class="card-link badge badge-pill badge-secondary"><i class="fa fa-pencil-square-o"></i> Hired</a>
            {% else %}
              {% if g.user['role'] == 'employer'%}
                <a class="card-link badge badge-pill badge-primary" href="{{ url_for('blog.hire', id=user['id']) }}"><i class="fa fa-pencil-square-o"></i> Hire</a>
              {% endif %}
            {% endif %}
            {% if g.user['id'] == user['hired_by'] %}
            <a class="card-link badge badge-pill badge-danger" href="{{ url_for('blog.fire', id=user['id']) }}"><i class="fa fa-pencil-square-o"></i> Fire</a>
            {% endif %}
            </div></div>
            {% if not loop.last %}
            <!-- <hr> -->
          {% endif %}
        {% endfor %}


<h1 class="text-center">Posts</h1>

    {% for post in posts %}
        <div class="card mt-3" style="width: auto;">
            <div class="card-body">
            <h3 class="card-title">{{ post['title'] }}</h3>
            <h6 class="card-subtitle mb-2 text-muted"><small> by <b> {{ post['username'] }} </b>on {{ post['created'].strftime('%d/%m/%Y, %H:%M:%S') }} UTC</small></h6>
            <p class="card-text">{{ post['body'] }}</p>

            {% if g.user['id'] == post['author_id'] %}
            
                <a class="card-link badge badge-pill badge-secondary" href="{{ url_for('blog.update', id=post['id']) }}"><i class="fa fa-pencil-square-o"></i> Edit</a>

                <a  class="card-link badge badge-pill badge-danger"  href="{{url_for('blog.delete', id=post['id']) }}" onclick="return confirm('Are you sure?');"><i class="fa fa-times"></i> Delete</a>
            
            {% endif %}
            <!-- <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
     <!-- <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article> -->
    {% if not loop.last %}
      <!-- <hr> -->
    {% endif %}
  {% endfor %}
{% endblock %}