{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block main %}

  <!-- <h3>Username: {{ g.user['username'] }}</h3>
  
  <h3>Password: ***</h3>

  <div>
    <label for="validation">Validation</label>
    <input type="checkbox" id="validation" name="validation" value="valid">
  </div>

  <form method="post">

    <label for="firstname">Firstname*</label>
    <input name="firstname" id="firstname" value="{{ request.form['firstname'] }}" required>
    
    <label for="lastname">Lastname*</label>
    <input name="lastname" id="lastname" value="{{ request.form['lastname'] }}" required>
    
    
    <input type="checkbox" id="validation" name="validation" value="valid">
    <label for="validation">Validation</label>

    <label for="comments">Comments</label>    
    <textarea name="comments" id="comments">{{ request.form['comments'] }}</textarea>

    <input type="submit" value="Save">

</form> -->

<div id="home" class="col">
    <div  class="row">
      <div class="col mb-3">
        <div  class="card">
          <div class="card-body">
            <div  class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ g.user['username'] }}</h4>
                    <p class="mb-0">user@{{ g.user['username'] }}</p>
                    <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                    <div class="mt-2">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">{{ g.user['role'] }}</span>
                    <div class="text-muted"><small>Joined at <br> {{ g.user['registered'].strftime('%d/%m/%Y, %H:%M:%S') }} <br> UTC </small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item mr-1"><a href="#name" class=" nav-link">Personal Info</a></li>
                <li class="nav-item mr-1"><a href="#password" class=" nav-link">Settings</a></li>
                <li class="nav-item mr-1"><a href="#home" class=" nav-link">Top</a></li>

              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div id="name" class="form-group">
                              <label>Full Name</label>
                              <input class="form-control"  type="text" name="name" placeholder="{{ request.form['full_name'] or 'John Smith'}}" value="{{g.user['full_name']}}">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Username</label>
                              <input class="form-control" type="text" name="username" placeholder="{{ request.form['username']  or 'User' }}" value="{{g.user['username']}}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Expertise</label>
                              <input class="form-control" type="text" name="expertise" placeholder="{{ request.form['expertise'] or 'Expertise' }}" value="{{g.user['expertise']}}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>About</label>
                              <textarea class="form-control" rows="5" placeholder="{{ 'My bio ...' or g.user['about']  }}"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2" id="password"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password" id='password' placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder=""></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b>Keeping in Touch</b></div>
                        <div class="row">
                          <div class="col">
                            <label>Email Notifications</label>
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                <label class="custom-control-label" for="notifications-news">Newsletter</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}