{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block main %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <img src="\static\img\register.png"  alt="Register" width="250px"/>
      </div>
  
      <!-- Login Form -->
      <form method="POST" >
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username" required>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required><hr>
        <input type="radio" id="role" name="role" value="employee">
        <label for="Employee">Employee</label><br>
        <input type="radio" id="role" name="role" value="employer">
        <label for="employer">Employer</label><br>
        <!-- <input type="text" id="expertise" class="fadeIn fourth" name="expertise" placeholder="Expertise"> -->
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>
  <!-- <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form> -->
{% endblock %}