<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        
        <title>{% block title %}{% endblock title %} - Flaskr</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
        
    </head>
    <body>
    <!--    <div>
              <nav>
                <h1>Flaskr</h1>
                <ul>
                  {% if g.user %}
                    <li><a href="{{ url_for('blog.profile') }}">{{ g.user['username'] }}</a>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                  {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a>
                  {% endif %}
                </ul>
              </nav>
              
              <section class="content">
                <header>
                  {% block header %}{% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                  <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
              </section>
              
            </div>           -->
        <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col-12 col-lg-auto mt-3 mb-3" style="width: 200px;">
            <div class="card p-3">
              <div class="e-navlist e-navlist--active-bg">
                <ul class="nav">
                  <li class="nav-item"><a class="nav-link px-2" href="/"><i class="fa fa-bar-chart mr-1"></i><span>Hire/Posts</span></a></li>
                  {% if g.user %}
                  <li class="nav-item"><a class="nav-link px-2" href="/profile"><i class="fa fa-fw fa-user mr-1"></i><span>{{ g.user['username'] }}</span></a></li>
                  
                  <li class="nav-item"><a class="nav-link px-2" href="/create"> <i class="fa fa-plus mr-1"></i><span>Create Post</span></a></li>
                  <li class="nav-item"><a class="nav-link px-2" href="/auth/logout"> <i class="fa fa-sign-out mr-1"></i><span>Logout</span></a></li>
                  
                  {% else %}
                  <li class="nav-item"><a class="nav-link px-2" href="/auth/register"><i class="fa fa-cog mr-1"></i><span>Register</span></a></li>
                  <li class="nav-item"><a class="nav-link px-2" href="/auth/login"> <i class="fa fa-sign-in mr-1"></i><span>Log In</span></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            
          </div>
        
          <div class="col">
            <div class="row">
              <div class="col mb-3 mt-3">
                <div class="card">
                  <div class="card-body">
                    <div class="e-profile">
                        
                        {% for message in get_flashed_messages() %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {% block main %}{% endblock main %}
                     
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-12 col-md-3 mb-3 mt-3">
                <!-- <div class="card mb-3">
                    <div class="card-body">
                      <div class="px-xl-3">
                       
                        
                      </div>
                    </div>
                  </div> -->
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title font-weight-bold">Support</h6>
                    <p class="card-text">Get fast, free help from our friendly assistants.</p>
                    <button type="button" class="btn btn-primary">Contact Us</button>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
        </div>
              



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  </body>
</html>